/* Estilos globales */
:root{
    --color-primario: #052D3C;
    --color-iconos:#195E63;
    --color-encabezadoTablasbtn:#063940;
    --color-backgraundMenu:#ECE1C3;
    --color-btnhover:#0ea7a7;


}
body{
    background: 
    linear-gradient(rgb(75, 129, 91), rgba(28, 110, 61, 0.598)),
    url('../imagenes/fondo.jpeg');   
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay; 
   
     
}
header {
    text-align: center;
    padding: 20px;    
    color: #c8dee0;
}
/*tamaño del logo*/
header img {
    max-width: 800px;
}
.contenedor_logo_izquierdo{
    position: absolute;
    width: 10px;
    top: 20px;
    left: 20px;
    transform: translateX(-3000%);
    margin-top: -150px; 
    max-width: 150px;

}

/*margen inferior*/
.contenedor_logo {
    margin-bottom: 0px;
}
/*margen superior logo*/
h1 {
    margin: 0;
    margin-top: -200px;
}
/*estilos definidos para los formularios caracteristicas internas del contenido*/
.boton_admon{
    background-color:var(--color-encabezadoTablasbtn);
    display: inline-block;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    border-radius: 20px;
    color: white;
    border: 1px solid #195E63;
    height: 30px;
    margin: 5px;
    padding: 10px 20px;
}
/* Estilos específicos para  botones de la  pantalla de inicio vista administrador*/
.boton_admon:hover{
    background-color: #9EDCB7;
    text-decoration: none;

}
.contenedor_pantalla_admin{
    text-align: center;
}
.botones_inicio{
    display: inline-block;

}
.boton_cerrar_sesion{
    background-color:var(--color-encabezadoTablasbtn);
    justify-content: center;
    font-size: 20px;
    color: white;
    border-radius: 20px;
    margin: 20px auto;
    width: 200px;
    height: 30px;
    text-align: center;
    padding: 10px 10px;
    border: 1xp solid #195e63;
       

}

/* Estilos específicos para  pantalla de inicio vista administrador*/
.boton_admon1{
    background-color:var(--color-encabezadoTablasbtn);
    justify-content: center;
    font-size: 16px;
    display: inline-block;
    margin: 20px auto;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;   
    margin: 5px;
    width: 200px;
    border: 1px solid#195e63;
    height: 30px;
}
.boton_admon1:hover{
    background-color: #9EDCB7;
    text-decoration: none;
}
/* Estilos específicos para  pantalla de inico de sesion*/
.contenedor_login{
    background-color:var(--color-backgraundMenu);
    background-position: center;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    max-width: 500px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.btn_iniciar_sesion{
    background-color: #063940;
    font-size: 20px;
    color: white;
    border-radius: 20px;
    width: 80px;
    height: 20px;
    padding: 10px;
    text-align: center;

}
/* Estilos específicos para registro de nuevos usuarios vista administrador*/
.contenedor_register{
    background-color:var(--color-backgraundMenu);
    background-position: center;
    padding: 20px;
    margin: 20px auto;
    margin-top: 200px;
    width: 500px;
    max-width: 500px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
/*estilos definidos para los formularios caracteristicas internas del contenido*/
input[type="text"]{
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
}
input[type="number"]{
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
}
input[type="password"]{
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
}
label{
    font-size: 16px;
    color:whitesmoke;
}
.datos_personales{
    color: #063940;

}
select{
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: #ffffff;
}
textarea{
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid #ccc;

}

h2 {
    color: var(--color-encabezadoTablasbtn);
    

}

input[type="text"], input[type="password"], input[type="number"], input[type="email"], select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}
.fecha{
    border-radius: 20px;
    font-size: 16px;
    height: 40px;
}

/*botonoes cambios de color*/
button {
    background-color: #195E63;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    
}

button:hover {
    background-color:var(--color-btnhover);
}
.boton-pequeño{
    padding: 10px 10px;
    max-width: 100px;
    font-size: 12px;
}
.boton_cerrar_sesion:hover{
    background-color:var(--color-btnhover);
    text-decoration: none;
}
a{
    text-decoration: none;
}

/* Estilos para check */

input[type="checkbox"] {
    margin-right: 10px;
}

label {
    display: inline-block;
    vertical-align: middle;
}
.checkbox-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

}
/* Estilos para la agregar foto a los fomularios */
.foto-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

#vista-previa-foto {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
#vista-previa-foto img{
    max-width: 100px;
    max-height: 100px;
    
}
/* Estilos para menu lateral derecho  */
.contenedor_menu {
    position: fixed;
    width:120px;
    top: 50%;
    right: 20px;
    height: 700px;
    justify-content: center;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    background: #ECE1C3;
    border-radius: 20px;
    align-items: center;
}

.contenedor_menu a{
    color:#052D3C;
    font-size: 16px;
    width: 110px;
    display: inline-block;
    text-align: center;
    height: 50px;    
    text-decoration: none; 
}
/* Estilos para botones login*/
.botones,.botones_login{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.botones button, .botones_login button{
    flex: 1;
    max-width: 150px;
}

/* Estilos para la tabla de consulta de usuarios */
.contenedor_consulta_usurios h1{
    margin-top: 70px;    
    color: #063940;
    text-align: center;
    margin-bottom: 50px;
   
}
.contenedor_consulta_usurios table{
    width: 100%;
    margin-top: 10%;
    border-collapse: collapse;
}
.contenedor_consulta_usurios th,
.contenedor_consulta_usurios td{
    border: 1px solid #063940;
    text-align: center;
    padding: 8px;
}
.contenedor_consulta_usurios th{
    background-color: #063940;
    color: white;
    
}
.contenedor_consulta_usurios tr:nth-child(even){
    background-color: #ECE1C3;
}
.contenedor_consulta_usurios tr:nth-child(odd){
    background-color: white;
}
.contenedor_consulta_usurios tr:hover{
    background-color: rgb(172, 230, 240);
}
.contenedor_cerrar_sesion_consulta button{
    background-color: #063940;
    text-align: center;
    margin: 80px;
    margin-top: 70px;
    transform: translateX(-120%);  

}
/* Estilos para boton cerrar sesión*/
.contenedor_cerrar_sesion{
    text-align: center;
    margin: 80px;
    margin-top: -70px;
    transform: translateX(-120%);
}
.contenedor_cerrar_sesion button{
    background-color: #063940;
}
/* Estilos para menu izquiero */

.contenedor_consulta_usurios button{
    background-color:rgb(6, 24, 24) ;    
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
}
/* Estilos específicos para el carnet */
.contenedor_titulo_residente h1{
    transform: translateX(50%);
    color: white;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 80px;

}
.contenedor_recidente { 
    background-color: #ECE1C3;  
    background-position: center;
    transform: translateX(50%); 
    padding: 20px;
    margin: 20px auto;   
    border-radius: 20px;
    height: 500px;
    text-align: center;
    flex-direction:column; 
    overflow: hidden;    
}
.circulo{
    width: 100px;   
    border-radius: 100%;
    border: 30px solid white;
}

.foto_residente{
    position: relative;
    width: 160px;
    height: 200px;
    margin-bottom: 20px;       
    
}

.foto_residente img {
    position:absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 140px;
    height:180px;
    border-radius: 70px / 90px;
    z-index: 2;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);   
  
    
}
/* Estilos específicos para el detalle del carnet del residente */
.detalles_residente{
    text-align: center;    

}


.detalles_residente h3 {
    background-color: white;
    color: #195E63;
    margin: 5px 0;
    margin-top: 10px;
    text-align: center;
    border-radius: 20px;

}
.detalles_residente i {
        color: black;
    
}
.container_codigo_barras {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; 
}
.codigo_barras_numero {
    margin-top: 10px; 
    font-size: 16px; 
}

/* Estilos específicos el usuario en sesión */
.contenedor_usuario_en_sesion{
    background-color: #ECE1C3;
    width: 200px;
    transform: translateX(-300%);
    margin-top: -150px;
    color: rgb(226, 26, 26);
    padding: 10px;   
    border: none;
    border-radius: 10px; 
    text-align: center; 

}
/* Estilos específicos para los iconos del menu  lateral derecho */

.fa-regular {
    color: #063940;
    font-size: 30px;
    margin: 10px;
    text-align: center;


}
.fa-solid{
    color: #063940;
    font-size: 30px;
    margin: 10px;
    text-align: center;
    
}
/* Estilos específicos para los iconos del menu # 2 lateral derecho desde la vista del recidente  */
.contenedor_menu_2{
    position: fixed;
    width:120px;
    top: 60%;
    right: 20px;
    height: 680px;   
    justify-content: center;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    background: #ECE1C3;
    border-radius: 20px;
    align-items: center;
    margin-top: auto;
}
.contenedor_menu_2 a{
    color:#052D3C;
    font-size: 16px;
    width: 110px;
    display: inline-block;
    text-align: center;
    height: 50px;    
    text-decoration: none; 
}

/* Estilos específicos para autorizacion de ingresos desde la vista del recidente  */
.contenedor_autorizacion{
    background: #3E838C;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;  
    padding: 20px;
    margin: 20px auto;
    margin-top: 200px;
    width:auto;
    height: auto;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.boton_autorizar{
    background-color: #052D3C;
}

.contenedor_fecha{
   
    display:flex;
    flex-direction: column;   
    
}
.fecha{
    margin-bottom: 20px;
    
}
.formulario-autorizacion_ingresos{
    display: flex;
    flex-direction: column;
}
.label{
    margin-bottom: 5px;
    font-weight:bold;
    color: white
    ;
}
/* Estilos específicos para autorizaciones del propietario*/
.contenedor_autorizaciones_propietario h1{
    margin-top: 70px;
    text-align: center;
    color: #063940;
    margin-bottom: 50px;   

}
.contenedor_autorizaciones_propietario table{  
    width: 100%;
    margin-top: 10%;
    border-collapse: collapse;
   

}
.contenedor_autorizaciones_propietario th,
.contenedor_autorizaciones_propietario td{
    border: 1px solid #063940;
    text-align: center;
    padding: 8px;
}
.contenedor_autorizaciones_propietario th{
    background-color: #063940;
    color: white;

}
.contenedor_autorizaciones_propietario tr:nth-child(even){
    background-color: #ECE1C3;

}
.contenedor_autorizaciones_propietario tr:nth-child(odd){
    background-color: white;
}
.contenedor_autorizaciones_propietario tr:hover{
    background-color: rgb(172, 230, 240);
}
/* Estilos específicos para monitor de ingresos vista del vigilante */
.contenedor_monitor_ingresos h1{
    text-align: center;
    color: #063940;
    margin: 150px;
    margin-bottom: 50px;  
}
.contenedor_monitor_ingresos table{
    width: 100%;
    margin-top: 10%;
    border-collapse: collapse;
}
.contenedor_monitor_ingresos th,
.contenedor_monitor_ingresos td{
    border: 1px solid #063940;
    text-align: center;
    padding: 8px;
}
.contenedor_monitor_ingresos th{
    background-color: #063940;
    color: white;
}
.contenedor_monitor_ingresos tr:nth-child(even){
    background-color:#ECE1C3;
}
.contenedor_monitor_ingresos tr:nth-child(odd){
    background-color: white;
}
.contenedor_monitor_ingresos tr:hover{
    background-color: rgb(172, 230, 240);
}
/* Estilos específicos para menu lateral derecho vista del vigilante Monitor de ingresos */
.contenedor_menu_3{
    position: fixed;
    width:120px;
    top: 60%;
    right: 20px;
    height: 680px;   
    justify-content: center;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    background: #ECE1C3;
    border-radius: 20px;
    align-items: center;
    margin-top: auto;
}
.contenedor_menu_3 a{
    color:#052D3C;
    font-size: 20px;
    width: 110px;
    display: inline-block;
    text-align: center;
    height: 50px;    
    text-decoration: none; 
}

/* Estilos específicos para  ingresos vehiculos vista del vigilante */
.contenedor_ingreso_vehicular{
    background-color: #063940;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 20px auto;
    margin-top: 200px;
    border-radius: 20px;
    width:500px;
    max-width: 600px;
    height: auto;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.contenedor_ingreso_vehicular h2{
    color:#8EBDB6;
}
/* Estilos específicos para menu laterna derecho  vista del vigilante se anexa lector de cedula y exportar  */
.contenedor_menu_4{
    position: fixed;
    width:120px;
    top: 60%;
    right: 20px;
    height: 680px;   
    justify-content: center;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    background: #ECE1C3;
    border-radius: 20px;
    align-items: center;
    margin-top: auto;
}

.contenedor_menu_4 a{    
    color:#052D3C;
    font-size: 20px;
    width: 110px;
    display: inline-block;
    text-align: center;
    height: 50px;    
    text-decoration: none;   
}


/* Estilos específicos para  ingresos peatonal vista del vigilante */
.contenedor_ingresos{
    background-color: #063940;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 20px auto;
    margin-top: 200px;
    border-radius: 20px;
    width: 500px;
    height: auto;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);   

}
.contenedor_ingresos h2{   
    color: #8EBDB6;
}
/* Estilos específicos para  registrar salidas vista del vigilante */

.contenedor_salida_del_personal h1{
    text-align: center;
    color: #063940;
    margin: 150px;
    margin-bottom: 50px;
}
.contenedor_salida_del_personal table{
    width: 85%;    
    margin-top: 10%;
    border-collapse: collapse;
}
.contenedor_salida_del_personal th,
.contenedor_salida_del_personal td{
    border: 1px solid #063940;
    text-align: center;
    padding: 8px;
}
.contenedor_salida_del_personal th{
    background-color: #063940;
    color: white;
}
.contenedor_salida_del_personal tr:nth-child(even){
    background-color: #ECE1C3;
}
.contenedor_salida_del_personal tr:nth-child(odd){
    background-color: white;
}
.contenedor_salida_del_personal tr.select{
    background-color: #f2f2f2;
}

.container_buscar{
    text-align: center;
    position: relative;
    margin: 10%;
    width: 100%;
    margin-bottom:-100px;
    text-align: center;
    

}
.container_buscar input{
    padding: 8px 16px 8px 70px;
    width: 20%;
    max-width: 300px;
    border: 1px solid #ddd;
}
.container_buscar .fa-solid{
    position: absolute;
    right: 55%;
    top: 50%;
    transform: translateY(-83%);
    color:#063940;

}
.paginacion{
    text-align: center;
    margin-top: 10px;
}
.paginacion button{
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #3E838C;
    background-position: center;
    font-size: 16px;
    cursor: pointer;
}
.paginacion button:hover{
    background-color: #9EDCB7;
}
.paginacion span{
    margin: 0 5px;
    color: white;
}
/* Estilos específicos para la pantalla de inicio vista del vigilante */
.contenedor_Porteria{
    text-align: center;
    margin-top: 20px;
}
.contenedor_Porteria h1{
    text-align: center;
    color: #052D3C;
    margin-top: 10px;
    margin-bottom: 100px;

}
.contenedor_botones_ingresos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.boton_vehicular, .boton_peatonal{
    background-color: #063940;
    font-size: 30px;
    display: flex;
    align-items: center;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    border: 1px solid #195E63;

}
.boton_vehicular:hover,.boton_peatonal:hover{
    background-color:var(--color-btnhover);
    text-decoration: none;
}
.boton_vehicular i,.boton_peatonal i{
    color: white;
    margin-right: 10px;    

}
.contenedor_cerrar_sesion_vigilante{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;

}
.boton_cerrar_sesion_vigilante{
    background-color:#063940;
    border-radius: 20px;
    font-size: 20px;
    color: white;
    border: 1px solid#195E63;
    padding: 10px 20px;

}
.boton_cerrar_sesion_vigilante:hover{
    background-color: var(--color-btnhover);
}
/* Estilos específicos Consulta de Ingresos y Salidas */

.contenedor_cosultas_admon h2{
    text-align: center;
    margin-top:10%;
    
    
}

.contenedorFechas_Ing_salid h3{   
    background-color: #9EDCB7;
    display:inline-block;
    text-align: left;
    border-radius: 20px;
    width: 50%;
    margin-top: 10%;
    
}
.rango label{
    background-color: #063940;    
    border-radius: 20px;
    width: 100%;
    height: 30px;

}
.rango select{
    width: auto;

}
/* Estilos específicos Consulta en tablas  de Ingresos y Salidas */
/* Estilos específicos tabla Consulta  */
.contenedor_tabla_consulta{
    width: 85%;
    margin-top: 5%;
    border-collapse: collapse;
  
}
.contenedor_tabla_consulta td,th{
    border: 1px solid #063940;
    text-align: center;
    padding: 8px;

}
   






